<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="login :: indexHead">
</head>
<body>
    <nav th:include="index :: navbar"></nav>
    <div class="container">
        <h1>Create a Secret</h1>
        <form th:action="@{/secret/createSecret}" method="post" th:object="${newSecret}">
            <textarea class="materialize-textarea" th:field="*{body}"></textarea>
            <button class="waves-effect waves-light btn" type="submit">Add Secret!</button>
        </form>
    </div>
</body>
</html>